= simple_form_for(client, html: {class: 'form-horizontal clearfix', novalidate: true}) do |f|
  = f.input :phone
  = f.input :email
  = f.input :web
  = f.input :address
  = f.input :name
  = f.input :company
  = f.input :job
  = f.input :business_card
  = f.button :submit, class: 'btn btn-primary btn-large pull-right', disable_with: 'Creating...'
