%h4 Client
.col-md-12
  .table-responsive
    %table#datatable{width: '100%'}
      %thead
        %tr
          %th id
          %th phone
          %th email
          %th web
          %th address
          %th name
          %th company
          %th job
          %th text
          %th business_card
          %th params
          %th created_at
          %th updated_at
          %th= link_to  'Add', new_client_path, class: 'btn btn-primary'
      %tbody
        - clients.each do |client|
          %tr
            %td= client.id
            %td= client.phone
            %td= client.email
            %td= client.web
            %td= client.address
            %td= client.name
            %td= client.company
            %td= client.job
            %td= client.text
            %td= client.business_card
            %td= client.params
            %td= client.created_at.strftime('%D %r')
            %td= client.updated_at.strftime('%D %r')
            %td= link_to 'Edit', edit_client_path(client), class: 'btn btn-info'
